@import 'common';

$warn: map-get($theme, warn);

.search {
  display: flex;
}

.search__field {
  flex: 1;
  align-items: center;
}

.search__controls {
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  margin: 16px 0;
  height: 24px;
  color: mat-color($warn);
}

.error__message {
  line-height: 24px;
}

.buttons {
  margin: 16px 0;
}

.buttons__btn {
  width: 96px;
  margin-right: 16px;
}
