// Values copied from hardcoded source
// It is recommended to audit these values after upgrades

// TODO: open issue about adding chip contact
$mat-chip-vertical-padding: 7px;
$mat-chip-horizontal-padding: 12px;
$mat-chip-remove-margin-before: 6px;
$mat-chip-remove-margin-after: -4px;
$mat-chips-contact-margin-after: 8px;
$mat-chips-chip-margin: 8px;
