@import 'common';

$foreground: map-get($theme, foreground);

:host {
  display: block;
}

h4 {
  color: mat-color($foreground, secondary-text);
  margin: 48px 0 24px;
}

.address-line {
  margin: 0;
}
