@import 'common';

:host {
  font-size: 14px;
  display: block;
  padding: 24px;
}

.view-all-button {
  background: none;
  border: none;
  opacity: 0.54;
  cursor: pointer;
  margin-left: 8px;
  padding: 0;
}

tr {
  td:first-child {
    width: 64px;
  }
}

td {
  vertical-align: top;
  padding-right: 8px;
  padding-bottom: 8px;

  &.first-row {
    padding-top: 16px;
  }

  .label {
    font-size: 14px;
    color: $black-54;
    padding-left: 8px;
  }
}
