@import 'common';

:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

.appbar {
  position: relative;
  z-index: 10;
}

.sidenav-wrapper {
  display: flex;
  flex: 1 1 auto;
}

.mat-sidenav-container {
  width: 100%;

  ::ng-deep .mat-drawer-content {
    position: absolute;
    right: 0;
    left: 0;
  }
}

.mat-sidenav {
  width: 256px;
  border-right: solid 1px rgba(0,0,0,0.1);
}

.app-container {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
